#atwood-title {
    width: 30%;
    display: block;
    margin: auto auto;
    padding-top: 15%;
}

.atwood-container {
    text-align: center;
}

.file-interaction {
    margin-top: 20px;
    min-width: 30px;
    padding: 10px 15px;
    cursor: pointer;
    border-width: 1px;
}

small {
    color: #9FEAF9;
}

.button--quidel.button--inverted {
    background: #9FEAF9;
}

#buttons-wrapper {
    text-align:center;
    margin:auto;
}